.button {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 210px;
	height: 50px;
	text-align: center;
	border: 1px solid #000000;
	cursor: pointer;
}

.button:active {
	background: var(--gold, #ffc802);
}

.button:hover {
	background: var(--gold, #ffc802);
}

.button_apply {
	background: var(--gold, #ffc802);
}

.button_apply:hover {
	background: var(--black, #FFEDAB);
}

.button_reset {
	background: var(--white, #fff);
}

.button_reset:hover {
	background: var(--black, #000000);
}

.button_reset:hover div {
	color: var(--white, #ffffff);
}